<main>
 <section data-testid="header">
    <%= link_to 'start', slideshow_path(id: @current_slide.slideshow.id) %>
  </section>
  <section data-testid="slide-content">
    <%= @current_slide.content %>
  </section>
  <section data-testid="next-slide">
    <% @current_slide.next.each do |slide| %>
      <%= link_to slide.title, slideshow_slide_path(slideshow_id: slide.slideshow.id, id: slide.id) %>
    <% end %>
  </section>
</main>
